* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  min-height: 100%;
  height: 100%;
  background: #eee;

  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;

  margin-top: 20vh;
  margin-bottom: 15vh;
}

.game {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.game::after {
  display: block;
  content: "";
  width: 100%;
  height: 80px;

  background: #d0d1d5;
  border-radius: 2px;
}

.current-item-container {
  min-height: 2.5rem;
}

.col-wrapper {
  display: flex;
  justify-content: end;
}

.col {
  width: 100%;
  position: relative;
}

.col-short {
  width: 33.333%;
}

.justify-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.col.block-group {
  min-height: 200px;
  position: relative;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.block-selected .block:first-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(-2rem + -0.125rem);
}

.col.block-group::before {
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 100%;
  background: #d0d1d5;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  position: absolute;
}

.block {
  width: 100%;
  height: 2rem;
  margin: 0 auto 0.125rem;
  z-index: 1;
  border-radius: 2px;
  transition: top 0.2s linear;
  top: 0;
  position: relative;
}

.col-active {
  transition: left 0.2s linear;
}

.block-1 {
  background-color: rgba(220, 38, 38);
  width: 40%;
}

.block-2 {
  background-color: rgba(245, 158, 11);
  width: 50%;
}

.block-3 {
  background-color: rgba(37, 99, 235);
  width: 60%;
}

.block-4 {
  background-color: rgba(253, 230, 138);
  width: 70%;
}

.block-5 {
  background-color: rgba(0, 0, 0);
  width: 80%;
}

.block-6 {
  background-color: rgba(5, 150, 105);
  width: 90%;
}
